<!DOCTYPE HTML>
<html>
<head>
<title>首页</title>
<link href="/static/css/common/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common/content.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common/pageTag.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />		
</head>
<body>
<!-- header -->
	<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="head-left">
						<ul class="number">
							<li><span><i class="phone"> </i>欢迎使用</span></li>
							<li><a href="mailto:info@example.com"><i class="mail"> </i>hello@address.com</a></li>	
								<div class="clearfix"> </div>						
						</ul>
					</div>
					<div class="head-right">
						<ul>
							<li><a href="#"><i class="fb"> </i></a></li>
							<li><a href="#"><i class="twt"> </i></a></li>	
							<li><a href="#"><i class="ttt"> </i></a></li>	
							<li><a href="#"><i class="ve"> </i></a></li>	
							<li><a href="#"><i class="in"> </i></a></li>	
							<li><a href="#"><i class="dib"> </i></a></li>	
							<li><a href="#"><i class="fli"> </i></a></li>	
							<li><a href="#"><i class="rss"> </i></a></li>	
							<div class="clearfix"> </div>						
						</ul>
					</div>
						<div class="clearfix"> </div>	
				</div>
			</div>
			<div class="header-bottom">
				<div class="container">
					<div class="head-nav">
						<span class="menu"> </span>
							<ul class="cl-effect-3">
								<li class="active"><a href="/admindisplay/">处理预约</a></li>
								<li><a href=" /task/">自动添加</a></li>
									<div class="clearfix"> </div>
									
							</ul>
								<!-- script-for-nav -->
							<script>
								$( "span.menu" ).click(function() {
								  $( ".head-nav ul" ).slideToggle(300, function() {
									// Animation complete.
								  });
								});
							</script>
						<!-- script-for-nav --> 
					</div>
					<div class="header-right1">
						<li><a href="/updateinform/">管理员</a></li>
						<li><a href="/changepw/">修改密码</a></li>
						<li><a href="/logout/">注销</a></li>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
	</div>
<!-- header -->
<div>
{% if is_super %}
	{% if theorder %}
		<div align="center" class="container"> 
			<h3>申请详情</h3> 
		</div>
		<div align="center" style="max-height: 200px;overflow-y: auto;overflow-x: none;">
			<table width="100%"  cellpadding="0" cellspacing="0" style="border-collapse:collapse" class="bot_line">
			<th>申请名</th>
			<th>申请人</th>
			<th>教室及时间</th>
			<th>申请简述</th>
			<th>操作</th>
					<tr>
					<td><a href="/details/?q={{ order.id }}">{{ theorder }}</a></td>
					<td>{{ theorder.user.username }}</td>
					<td>
					{% for room in rooms%}
						{{ room }}
					{% endfor %}
					</td>
					<td>{{ theorder.message }}</td>
					<td>
						<form action="/admindisplay/" method="post">
						{% csrf_token %}
						<button name="y" value={{ theorder.id }}>同意</button>
						<button name="n" value={{ theorder.id }}>不同意</button>
						</form>
					</td>
					</tr>
			</table>
		</div>
	{% else %}
		<div> <h3>您暂时没有待处理的申请</h3> </div>
	{% endif %}
{% else %}
	<div><h3>您没有管理员权限</h3></div>
{% endif %}
</div>
<!-- footer-top -->
<div class="footer-top">
	<div class="container">
		<div class="col-md-4 foo-left">
		</div>
		<div class="col-md-4 foo-left">
			<h3>欢迎使用教室管理系统</h3>
		</div>
		<div class="col-md-4 foo-left">
			<h3>友情链接</h3>
				<ul>
					
					<li><a href="http://jwc.hit.edu.cn">教务处</a></li>	
				</ul>
		</div>
	</div>
</div>
<!-- footer-top -->
<!-- footer-bottom -->
	<div class="footer-bottom">
		<div class="container">
			<p>Copyright &copy; 2015.Company name All rights reserved. </p>
		</div>
	</div>
<!-- footer-bottom -->
</body>
</html>
